# #include <...>
snippet Inc
	#include <${1:cstdio}>${2}
# std::map
snippet map
	typedef std::map<${1:key}, ${2:value}> ${3:map_type};
	$3 ${4:map_name};
# std::vector
snippet vector
	std::vector<${1:char}> ${2:name};
# Namespace
snippet ns
	namespace ${1:`Filename('', 'my')`} {
	${2}
	} // namespace $1
# Class
snippet cl
	class ${1:`Filename('$1', 'name')`}
	{
	public:
		$1();
		virtual ~$1();

	}; // class $1
